
    <header class="page-header">
        <div class="container-fluid">
            <h2 class="no-margin-bottom">搜索文章</h2>
        </div>
    </header>
    <div style="padding: 10px 10px 10px 10px">
        <div style="padding: 10px 10px 10px 10px">
            <textarea class="form-control" rows="8" id="t1" ></textarea>
        </div>
        <div style="padding: 10px 10px 10px 10px;">
            <button  class="btn btn-primary btn-lg" id="b1" style="text-align:center;margin-left: 50%;margin-right: 50%">提取</button>
        </div>


        <div id="tableInfo1" class="table table-striped">
        </div>
        <button  class="btn btn-primary btn-lg" id="b2">搜索</button>
        <div id="tableInfo2" >
            <form >
            </form>
        </div>
    </div>
