<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lisk.keyword.mapper.EssayMapper">

    <select id="listEssays" parameterType="com.lisk.keyword.util.Page" resultType="com.lisk.keyword.pojo.Essay">
        SELECT * from t_pdarticle order by id
        <if test="start!=null and count!=null">
            limit #{start},#{count}
        </if>

    </select>
    <select id="findAll" resultType="com.lisk.keyword.pojo.Essay">
        select * from t_pdarticle
    </select>
</mapper>