<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.lisk.keyword.mapper.LabelMapper">
<resultMap id="LabelMap" type="label">
    <id property="id" column="id"></id>
    <result property="labelName" column="label_name"/>
    <result property="pdarticleId" column="pdarticle_id"/>
    <collection property="essayList" ofType="essay">
        <id column="id" property="id"></id>
        <result column="" property=""></result>
    </collection>
</resultMap>

    <select id="findAll" resultType="com.lisk.keyword.pojo.Label">
        select id,label_name,pdarticle_id from  t_label
    </select>
<!--    <select id="">-->
<!--        select b.id lid,b.label_name label_name , c.id id,c.text_label text_label,c.title title,c.text_content text_content,c.published_date published_date, c.data_sources data_sources-->
<!--        from t_pdarticle_label a-->
<!--        left join t_label b on a.label_id = b.id-->
<!--        left join t_pdarticle c on a.pdarticle_id = c.id-->
<!--        where b.label_name like CONCAT('%',#{label},'%')-->
<!--    </select>-->
    <insert id="insertPdarticleLabel" >
        insert into t_pdarticle_label (label_id,pdarticle_id,score) value (#{labelId},#{essayId},#{score})
    </insert>
</mapper>